[Unit]
Description=AssetMantle
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=3
MemoryDenyWriteExecute=yes
LimitNOFILE=65535
ExecStart=/root/go/bin/assetClient --home=/root/.AssetMantle/Client/ rest-server --keyring-backend test --laddr tcp://0.0.0.0:1317 --trust-node
#ExecStart=/root/go/bin/assetClient --home=/root/.AssetMantle/Client/ rest-server -laddr tcp://0.0.0.0:1317 --trust-node
#StandardOutput=file:/var/log/mantle-node/mantle.log
#StandardError=file:/var/log/mantle-node/mantle_error.log

[Install]
WantedBy=multi-user.target
